

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    

    h1 {
        
        margin-left: 10px;
        margin-top: 10px;

        a{
            text-decoration: none;
            color: #FFB598;
            font-size: 30px;
        }
    }   

    .ligne ul{
        display: flex;
        color: #FFB598;
        margin-right: 130px;

        li{
            margin-left: 25px;
            margin-right: 60px;
            list-style: none;
            font-size: 25px;
        }
    }
}


.premier–plan{
    height: 400px;
    width: 100%;
    background-image: url(../font/image/salon-beaute-luxe-interieur-moderne-magasin-services-ongles-manucure-generatif-ai-studio-branche-propre-salon-beaute-vide-magasin-concept-glamour-manucure-mode_788189-11067.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}